/*CSS GENERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Playfair Display", serif;
}

.header{
    width: 100%;
    height: 6.25rem;
    position: fixed;
    z-index: 100;
    background-color: #0A0A0A;
    top: 0;
    left: 0;
}

.contenedor-header{
    width: 100%;
}

.header-titulo{
    
}

.header-titulo h1{
    color: #8DBCB6;
    font-size: 3rem;
}

.header-promocion p {
    color: #a5d8d1;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}


.header-busqueda{
    
}

.header-busqueda input{
    padding: 15px 90px 15px 3px;
    border: none;
    border-radius: 10px;
    
}

.header-busqueda input:focus{
    outline:none;
}

.header-titulo h1, .header-busqueda input {
    margin: 20px 30px; 
}

.nav{
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 100;
    top: 100px;
    left: 0;
    background-color: #0A0A0A;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav a{
    position: relative;
    color: #fff;
    padding: 1.875rem .625rem;
    font-size: 1.2rem;
    text-decoration: none;
}

.nav a::after{
    
}
nav a:hover::after{
    
}

.contenedor-general{
    position: relative;
    top: 100px;
    left: 100px;
    width: calc(100% - 100px);
}

form{
    padding:50px 55px ;
    box-shadow: 0 0 20px rgba(0, 0, 0, 2.0);
    background-color: rgba(0, 0, 0, 0.1);
}

form h2{
    text-align: center;
    font-size: 2.1875rem;
}

form a{
    text-decoration: none;
    color: #0a0a0a;
    font-weight: 700;
}

label{
    font-weight: 700;
}

.btn{
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
}

.btn:hover{
    background-color: #8dbcb6;
    border-color: #8dbcb6;
}

.footer{
    position: relative;
    width: 100%;
    
}

.gradiente-footer{
    position: absolute;
    top: -300px;
    z-index: -100;
    width: 100%;
    height: 300px;
    background: linear-gradient( to bottom, #fff, #8dbcb6);
    
}

.contenedor-footer{
    background-color: #8DBCB6;
    font-size: 1.5rem;
}

.redes-sociales{
    
}

.facebook{
    width: 25px;
    
}

.instagram{
    
}

.horarios{
    
}




/* CSS INICIO */

.contenedor-index{
    margin: 20px;
    width: calc(100% - 20px - 20px);
}

.imagen-index img{
    width: 100%;
}

.contenido-index{
    width: 100%;
}

.bloques-index{
    width: 90%;
    margin: 1.25rem 0;
    padding: 1.25rem ;
    background-color: #8DBCB6;
}

.bloques-index h2{
    padding-bottom: 1rem;
    font-size: 40px;
    text-align: center;
}

.bloques-index p{
    font-size: 1.1rem;
}



/* CSS PRODUCTOS */

.contenedor-productos{
    width: 100%;
    position: relative;
}

.productos{
    
}

.productos img {
    width: 100%;
    height: auto;
    display: block;
    margin: 1.25rem;
}

.contenido-productos{
    position: relative;
    width: 100%;
    height: 100%;
}

.opacidad{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contenedor-parrafo{
    position: absolute;
    width: 100%;
    
}

.parrafo{
    text-align: center;
    color: #0c3f39;
    font-weight: 700;
    font-size: 1.5rem;
}



/* CSS SERVICIOS */

.contenedor-servicios{
    
}

.card{
    background-color: #8DBCB6; 
    
}

.card img{
    display: block;
    width: 100%;
}

.card p{
    text-align: center;
}

.parrafo-servicios{
    
}


/* CSS RESERVAR */



.contenedor-reservar{
    width: 80%;
    margin: 3.125rem auto;
}

.formulario-reservar{
    
    
}

.formulario-reservar input{
    padding: 15px;
    border-radius: 15px;
    background-color: #d6ebe8;
    border: 2px solid #d6ebe8;
    color: #283629;
}

.formulario-reservar input:focus{
    outline: none;
}

.formulario-reservar select{
    padding: 15px;
    border-radius: 15px;
    background-color: #d6ebe8;
    border: 2px solid #d6ebe8;
    color: #283629;
}

.formulario-reservar select:focus{
    outline: none;
}

.input-txt{
    
}

.input-txt a{
    color: #0A0A0A;
    font-weight: bold;
    text-decoration: none;
}

/* CSS CONTACTO*/

.contenedor-contacto-ayuda{
    
}

.contendor-contacto{
    
}

.formulario-contacto{
    
}


.formulario-contacto input{
    padding: 15px;
    border-radius: 15px;
    background-color: #d6ebe8;
    border: 2px solid #d6ebe8;
    color: #283629;
}

.formulario-contacto input:focus{
    outline: none;
}

.formulario-contacto select{
    padding: 15px;
    border-radius: 15px;
    background-color: #d6ebe8;
    border: 2px solid #d6ebe8;
    color: #283629;
}

.formulario-reservar select:focus{
    outline: none;
}

.formulario-contacto textarea{
    padding: 15px;
    border-radius: 15px;
    background-color: #d6ebe8;
    border: 2px solid #d6ebe8;
    color: #283629;
}

.formulario-contacto textarea:focus{
    outline: none;
}

/*CSS AYUDA*/

.contenedor-ayuda{
    width: 100%;
}

.titulo-preguntas{
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin: 1.5rem 0;
}

details{
    background-color: #f0f4f3;
}

.ayuda-item{
    margin-bottom: 20px;
    width: 80%;
}

.ayuda-item summary{
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
    background-color: #8dbcb6;
    padding: 20px;
    
}

.ayuda-item p{
    font-size: .9rem;
    text-align: left;
    padding: 10px;
}








