/*CSS GENERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Playfair Display", serif !important;
}

.header{
    width: 100%;
    height: 6.25rem;
    position: fixed;
    z-index: 100;
    background-color: #0A0A0A;
    top: 0;
    left: 0;
}

.contenedor-header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-titulo{
    h1{
        color: #8DBCB6;
        font-size: 1.7rem;
        margin: 5px 30px; 
    }
}

.header-promocion p {
    color: #a5d8d1;
    font-size: .8rem;
    font-weight: 700;
    text-transform: uppercase;
    display: none;
}

.header-busqueda{
    input{
        padding: 10px 50px 10px 3px;
        border: none;
        border-radius: 10px;
        margin: 5px 30px; 
    }
    input:focus{
        outline:none;
    }
}

.nav{
    ul{
        height: 50px;
        width: 100%;
        position: fixed;
        z-index: 100;
        left: 0;
        bottom: 0;
        background-color: #0A0A0A;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    li{
        position: relative;
        padding: 1.875rem .625rem;
        font-size: .7rem;
        list-style: none;
    }
    a{
        text-decoration: none;
        color: #fff;
    }
    a::after{
        content: '';
        position: absolute;
        background-color: #8DBCB6;
        width: 0;
        height: 3px;
        left: 10px;
        bottom: 20px;
        transition: 0.3s;
    }
    a:hover::after{
        width: 80%;
    }
}

.contenedor-general{
    position: relative;
    top: 100px;
    left: 0;
    width: 100%;
}

form{
    padding: 50px 55px ;
    box-shadow: 0 0 20px rgba(0, 0, 0, 2.0);
    background-color: rgba(0, 0, 0, 0.1);
    h2{
        text-align: center;
        font-size: 1.8rem;
    }
    a{
        text-decoration: none;
        color: #0a0a0a;
        font-weight: 700;
        font-size: .6rem;
    }
}

label{
    font-weight: 700;
    font-size: .9rem;
}

.btn{
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    font-size: .8rem;
    &:hover{
        background-color: #8dbcb6;
        border-color: #8dbcb6;
    }
}

.footer{
    position: relative;
    width: 100%;
    
}

.gradiente-footer{
    position: absolute;
    top: -300px;
    z-index: -100;
    width: 100%;
    height: 300px;
    background: linear-gradient( to bottom, #fff, #8dbcb6);
    
}


.contenedor-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
    background-color: #8DBCB6;
    font-size: 1.5rem;
}

.redes-sociales{
}

.facebook{
    padding-bottom: 15px;
    
    
}

.instagram{
    padding-bottom: 15px;
}

.horarios{
    h5{
        text-align: center;
    }
    p{
        padding:10px;
    }
    
}

/* CSS INICIO */

.contenedor-index{
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px;
    width: calc(100% - 20px - 20px);
}

.imagen-index {
    display: flex;
    align-items: center;
    position: relative;
    height: 30vh;
    width: 100%;
    overflow: hidden;

    img {
        position: absolute;
        width: 100%;
        height: auto;
        opacity: 0;
        object-fit: cover;
        animation: fade 35s infinite;
        
        &:nth-child(1) { animation-delay: 0s; }
        &:nth-child(2) { animation-delay: 10s; }
        &:nth-child(3) { animation-delay: 15s; }
        &:nth-child(4) { animation-delay: 20s; }
        &:nth-child(5) { animation-delay: 25s; }
        &:nth-child(6) { animation-delay: 30s; }
    }
}

@keyframes fade {
    0% { opacity: 0; }
    10% { opacity: 1; }
    30% { opacity: 1; }
    40% { opacity: 0; }
    100% { opacity: 0; }
}


.contenido-index{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.bloques-index{
    width: 90%;
    margin: 1.25rem 0;
    padding: 1.25rem ;
    background-color: #8DBCB6;
    h2{
        padding-bottom: 1rem;
        font-size: 40px;
        text-align: center;
    }
    p{
        font-size: 1.1rem;
    }
}

/* CSS PRODUCTOS */

.contenedor-productos{
    width: 100%;
    position: relative;
}

.productos{
    columns: 1 200px;
    margin: 20px;
    img{
        width: 100%;
        height: auto;
        display: block;
        margin: 10px 0;
    }
}

.contenido-productos{
    position: relative;
    width: 100%;
    height: 100%;
    
}

.opacidad{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.3s ease;
    background: rgba(0, 0, 0, 0.5);
    
}

.contenedor-parrafo{
    position: absolute;
    width: 100%;
    height: 170%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.parrafo{
    text-align: center;
    color: #0c3f39;
    font-weight: 700;
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* CSS SERVICIOS */

.contenedor-servicios{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 20px;
}

.card{
    cursor: pointer;
    position: relative;
    background-color: #8DBCB6; 
    img{
        display: block;
        width: 100%;
    }
    p{
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: .9rem;
        display: flex;
        padding: 10px 0;
    }
}

.parrafo-servicios{
    
}


/* CSS RESERVAR */

.contenedor-reservar{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3.125rem auto;
}

.formulario-reservar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    input{
        padding: 15px;
        border-radius: 15px;
        background-color: #d6ebe8;
        border: 2px solid #d6ebe8;
        color: #283629;
    }
    input:focus{
        outline: none;
    }
    select{
        padding: 15px;
        border-radius: 15px;
        background-color: #d6ebe8;
        border: 2px solid #d6ebe8;
        color: #283629;
    }
    select:focus{
        outline: none;
    }
    
}

.input-txt{
    a{
        color: #0A0A0A;
        font-weight: bold;
        text-decoration: none;
    }
}

/* CSS CONTACTO*/

.contenedor-contacto-ayuda{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3.125rem auto;
}

.contendor-contacto{
    width: 100%;
}

.formulario-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 50px 0;
    input{
        padding: 10px;
        border-radius: 15px;
        background-color: #d6ebe8;
        border: 2px solid #d6ebe8;
        color: #283629;
    }
    input:focus{
        outline: none;
    }
    select{
        padding: 15px;
        border-radius: 15px;
        background-color: #d6ebe8;
        border: 2px solid #d6ebe8;
        color: #283629;
    }
    select:focus{
        outline: none;
    }
    textarea{
        padding: 15px;
        border-radius: 15px;
        background-color: #d6ebe8;
        border: 2px solid #d6ebe8;
        color: #283629;
    }
    textarea:focus{
        outline: none;
    }
}

/*CSS AYUDA*/

.contenedor-ayuda{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo-preguntas{
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin: 1.5rem 0;
}

details{
    background-color: #f0f4f3;
}

.ayuda-item{
    margin-bottom: 20px;
    width: 100%;
    summary{
        text-align: center;
        font-size: 1.1rem;
        font-weight: 700;
        background-color: #8dbcb6;
        padding: 20px;
    }
    p{
        font-size: .9rem;
        text-align: left;
        padding: 10px;
    }
}

/* MQ TABLET 768px*/


@media (min-width:768px){
    
    .contenedor-header{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .header-titulo{
        h1{
            font-size: 1.6rem;
            margin: 15px 20px; 
        }
    }
    
    .header-promocion{
        p{
            font-size: 1rem;
            display: block;
        }
    }
    
    .header-busqueda{
        input{
            padding: 10px 60px 10px 3px;
            margin: 15px 20px; 
        }
    }
    
    nav{
        ul{
            top: 100px;
            height: 100%;
            width: 100px;
            flex-direction: column;
        }
        a{
            font-size: 1rem;
        }
    }
    .contenedor-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
    .contenedor-general{
        left: 100px;
        width: calc(100% - 100px);
    }
    
    .imagen-index{
        height: 50vh; 
    }
    
    .productos{
        columns: 2 200px;
    }
    
    .parrafo{
        font-size: 1.3rem;
    }
    
    .contenedor-servicios{
        grid-template-columns: 1fr 1fr;
    }
    
    .form{
        h2{
            font-size: 2.1875rem;
        }
        a{
            font-size: 1rem;
        }
    }
    
    label{
        font-size: 1.1rem;
    }
    
    .btn{
        font-size: .9rem;
    }
    
    .formulario-contacto{
        input{
            padding: 15px;
        }
        select{
            padding: 15px;
        }
        textarea{
            padding: 15px;
        }
    }
    
}


/* MQ LAPTOP 1024px*/

@media (min-width:1024px){
    
    .contenedor-header{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .header-titulo{
        h1{
            font-size: 1.8rem;
            margin: 20px 30px; 
        }
    }
    
    .header-promocion{
        p{
            font-size: 1.3rem;
            display: block;
        }
    }
    
    .header-busqueda{
        input{
            margin: 20px 30px; 
        }
    }
    
    .nav{
        ul{
            top: 100px;
            height: 100%;
            width: 100px;
            flex-direction: column;
        }
        a{
            font-size: 1.2rem;
        }
    }
    
    .contenedor-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
    .contenedor-general{
        left: 100px;
        width: calc(100% - 100px);
    }
    
    .imagen-index{
        height: 60vh; 
    }
    .contenido-productos{
        &:hover {
            .opacidad {
                opacity: 1;
            }
            .parrafo {
                opacity: 1;
            }
        }
    }
    .opacidad{
        opacity: 0;
    }
    .productos{
        columns: 3 200px;
    }
    
    .parrafo{
        font-size: 1.4rem;
    }
    
    .contenedor-servicios{
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .form{
        h2{
            font-size: 2.1875rem;
        }
    }
    
    .contendor-contacto{
        width: 75%;
    }
    
    .formulario-contacto{
        input{
            padding: 15px;
        }
        select{
            padding: 15px;
        }
        textarea{
            padding: 15px;
        }
    }
}

/* MQ LAPTOPT 1440px */

@media (min-width: 1440px ){
    
    .contenedor-header{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .header-titulo{
        h1{
            font-size: 3rem;
        }
    }

    .header-promocion{
        p{
            font-size: 1.5rem;
            display: block;
        }
    }

    .header-busqueda{
        input{
            padding: 15px 90px 15px 3px;
        }
    }

    .nav{
        ul{
            
            top: 100px;
            height: 100%;
            width: 100px;
            flex-direction: column;
        }
        a{
            font-size: 1.2rem;
        }
    }

    .contenedor-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
    .contenedor-general{
        left: 100px;
        width: calc(100% - 100px);
    }
    
    .contenedor-index{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }
    
    .imagen-index{
        height: 70vh;
    }
    .productos{
        columns: 3 200px;
    }
    
    .parrafo{
        font-size: 1.5rem;
    }
    
    .contenedor-servicios{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .form{
        h2{
            font-size: 2.1875rem;
        }
    }

    .contenedor-contacto-ayuda{
        flex-direction: row;
    }
    
    .contendor-contacto{
        width: 100%;
    }

    .formulario-contacto{
        input{
            padding: 15px;
        }
        select{
            padding: 15px;
        }
        textarea{
            padding: 15px;
        }
    }

    .ayuda-item{
        width: 80%;
    }
}








