form{
    padding: 50px 55px ;
    box-shadow: 0 0 20px rgba(0, 0, 0, 2.0);
    background-color: rgba(0, 0, 0, 0.1);
    h2{
        text-align: center;
        font-size: 1.8rem;
    }
    a{
        text-decoration: none;
        color: #0a0a0a;
        font-weight: 700;
        font-size: .6rem;
    }
}

label{
    font-weight: 700;
    font-size: .9rem;
}