/* CSS PRODUCTOS */

.contenedor-productos{
    width: 100%;
    position: relative;
}

.productos{
    columns: 1 200px;
    margin: 20px;
    img{
        width: 100%;
        height: auto;
        display: block;
        margin: 10px 0;
    }
}

.contenido-productos{
    position: relative;
    width: 100%;
    height: 100%;
    
}

.opacidad{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    background: rgba(0, 0, 0, 0.5);
    
}

.contenedor-parrafo{
    position: absolute;
    width: 100%;
    height: 170%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.parrafo{
    text-align: center;
    color: #0c3f39;
    font-weight: 700;
    font-size: 1.5rem;
    opacity: 1;
    transition: opacity 0.3s ease;

}
